---
import MainLayout from '../../layouts/Main.astro';
---

<MainLayout title='Altares Sociales'>
  <div class="container">
    <h1>Altares Sociales</h1>
    <p>En esta sección encontrarás información sobre los altares sociales, su significado y cómo se celebran.</p>
    
    <section>
      <h2>¿Qué son los Altares Sociales?</h2>
      <p>Los altares sociales son espacios dedicados a honrar y recordar a las personas queridas que han fallecido. Se decoran con fotografías, flores, velas y otros objetos significativos.</p>
    </section>

    <section>
      <h2>Importancia de los Altares Sociales</h2>
      <p>Estos altares son una forma de mantener viva la memoria de nuestros seres queridos y celebrar sus vidas. También fomentan la unión familiar y comunitaria.</p>
    </section>

    <section>
      <h2>Cómo hacer un Altar Social</h2>
      <p>Para crear un altar social, elige un lugar especial, reúne fotos y objetos significativos, y decora con flores y velas. Personaliza el altar según las preferencias de la persona homenajeada.</p>
    </section>
  </div>
</MainLayout>