---
import FAQAccordion from "./FAQAccordion.astro";
import { FAQs } from "../data/FAQs";
---
<div id="faqs" class="pt-20"></div>
<section class="w-full bg-gradient-to-t from-cyan-500/10 from-10% to-cyan-50/10 to-90% pb-10 pt-12 md:py-16 lg:py-20">
  <div class="mx-auto w-full max-w-7xl px-4 md:px-6 lg:px-10" id="container">
    <h2 class="mb-8 text-3xl font-semibold tracking-tight text-cyan-900 sm:text-4xl md:text-5xl">
      Preguntas Frecuentes
    </h2>
    {
      FAQs.map(({ question, answer }) => (
        <FAQAccordion question={question} answer={answer} />
      ))
    }
  </div>
</section>
